.card {
  aspect-ratio: 2/3;
  width: 100%;
  height: auto;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: clamp(12px, 2.5vh, 20px);
  font-weight: bold;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card.flipped {
  background-color: #f0f0f0;
}

.card p {
  margin: 0;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}
